---
import { ClientRouter } from "astro:transitions";
import FloatNavBar from "@/components/shared/FloatNavBar.astro";
import Footer from "@/components/shared/Footer.astro";
import "@/assets/styles/global.css";

interface Props {
	title?: string;
	description?: string;
	image?: string;
}

const {
	title = "Astro Store",
	description = "My store",
	image = "https://sitemap-astro-store.netlify.app/images/products/7654393-00-A_2_2000.jpg",
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- Meta tags -->
		<meta name="title" content={title} />
		<meta name="description" content={description} />

		<!-- Open Graph / Facebook -->
		<meta property="og:title" content={title} />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:image" content={image} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={image} />
		<ClientRouter />
	</head>
	<body>
		<!-- <NavBar2 /> -->
		<FloatNavBar />
		<main class="min-h-screen max-w-6xl m-auto px-4 mt-10">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<script src="../../node_modules/preline/preline.js"></script>
